

/* Start Navbar Styles */


.main-header__content {
	background: var(--brown);
	color: var(--yellow);
	position: relative;
	border-bottom: 0.5rem solid var(--green);
	border-top: 0.5rem solid var(--green);
	.main-header__menu {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		align-items: center;
		justify-content: center;
		gap: 6rem;
		width: 70%;
		margin: 0 auto;
	}
	menu, a {
		all: unset;
	}
	.main-header__menu li{
		font-family: var(--display);
		-webkit-text-stroke: 2px var(--black);
		font-size: 2rem;
		/* flex: 1; */
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem 0 0.5rem;
    	cursor: pointer;
		transition: transform 0.25s ease-in-out;
		.main-header__dropdown {
			display: none;
      width: 100vw;
		}
		span span {
			color: var(--red);
		}
		&:hover{
			span {
				transform: scale(1.1);
				color: var(--blue);
				span {
					color: var(--red);
				}
			}
			.main-header__dropdown {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				position: absolute;
				top: 100%;
				width: 90%;
				margin: 0 auto !important;
				left: 1rem;
				right: 0;
				background: var(--red);
				padding: 2rem;
				border-bottom: 0.5rem solid var(--green);
				border-top: 0.5rem solid var(--green);
        		z-index: 1;


		li {
			cursor: pointer;
			display: block;
			font-size: 1.6rem !important;
          	font-weight: 400;
			padding: 0.75rem 0;
			margin: 0;
			color: var(--yellow);
			flex: 1;
			span {
            font-size: 2rem;
			color: var(--yellow);
			&:hover {
			color: var(--green);
              font-weight: 700;
			}

			}
			li {
				font-family: var(--serif);
				-webkit-text-stroke: 0;
				font-size: 1.2rem;
				line-height: 1.2;
				&:hover {
					color: var(--black);
				}
			}
				}
				ul {
					position: static;
					background: transparent;
					padding: 0;
					display: block;
					border: 0;
				}
			}
		}
	}
}


/* Finish Navbar Styles */









































